<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.revibek.user.mapper.UserMapper">

	<insert id="insertUser"
		parameterType="com.ssafy.revibek.user.dto.UserRegisterRequestDto">
		INSERT INTO users (nickname, email, password_hash,
		provider)
		VALUES (#{nickname}, #{email}, #{password}, 'local')
	</insert>

	<select id="selectUserById" parameterType="string"
		resultType="com.ssafy.revibek.user.dto.UserResponseDto">
		SELECT id, nickname, email, provider
		FROM users
		WHERE id =
		#{id}
	</select>

	<select id="selectPasswordHashByEmail" parameterType="string"
		resultType="string">
		SELECT password_hash
		FROM users
		WHERE email = #{email}
	</select>

	<select id="selectUserByEmail" parameterType="string"
		resultType="com.ssafy.revibek.user.dto.UserResponseDto">
		SELECT id, nickname, email, provider
		FROM users
		WHERE email = #{email}
	</select>

	<update id="updateUser"
		parameterType="com.ssafy.revibek.user.dto.UserResponseDto">
		UPDATE users
		SET nickname = #{nickname}, email = #{email}
		WHERE id = #{id}
	</update>

	<delete id="deleteUser" parameterType="string">
		DELETE FROM users
		WHERE id
		= #{id}
	</delete>

</mapper>